---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Journal Papers -->
<h2>Journal Articles</h2>
<hr />

{% assign jcounter = 0 %}
{% for post in site.publications reversed %}
  {% if post.category == "manuscripts" %}
    {% assign jcounter = jcounter | plus: 1 %}
    {% include archive-single.html type="journal" number=jcounter %}
  {% endif %}
{% endfor %}

<!-- Conference Papers -->
<h2>Conference Papers</h2>
<hr />

{% assign ccounter = 0 %}
{% for post in site.publications reversed %}
  {% if post.category == "conferences" %}
    {% assign ccounter = ccounter | plus: 1 %}
    {% include archive-single.html type="conference" number=ccounter %}
  {% endif %}
{% endfor %}



<!-- Preprints, Thesis, Under Review -->
<h2>Preprints, Thesis, and Under Review</h2>
<hr />

{% for post in site.publications reversed %}
  {% if post.category == "thesis" or post.status == "Under Review" or post.status == "Submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


<!-- Google Scholar -->
<h2>Full Publication List</h2>
<hr />

<p>
You can find the complete and most up-to-date publication list on my 
<a href="{{ site.author.googlescholar }}" target="_blank">
Google Scholar profile
</a>.
</p>
